body{
  font-size: $base-font-size;
  font-family: $base-font-family;
} 
.wrapper{
  margin: auto;
  max-width: $wrapper-max-width;
  min-width: $wrapper-min-width;
}
.container{
  padding-left: $container-margin;
  padding-right: $container-margin;
}
a{
  text-decoration: none;
  color: #fff;
  &:hover{
    color: $color-link-hover;
  }
}
main{
  border-top: 8px solid #ebebeb;
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
.color-orange{
  color:$color-orange;
}
.color-dark{
  color: $color-dark;
}
.color-grey{
  color: $color-grey;
}
.color-grey-light{
 color: $color-grey-light; 
}