.soc-icon {
  background-color: #f26c4f;
  border-radius: 100%;
  display: table-cell;
  height: 65px;
  text-align: center;
  vertical-align: middle;
  width: 65px;
}

i {
  display: inline-block;
}

.ic_vk {
  @include sprite($ic_vk);
}

.ic_fb {
  @include sprite($ic_fb);
}

.ic_inst {
  @include sprite($ic_inst);
}
.ic_search{
  @include sprite($ic_search);
}