  <div class="back-contact-info">
    <div class="phone-info c-btn">
      <div class="phone ic-block">
        <i class="ic_bigphone"></i>
      </div>
      <div class="text">
        <span>8(952) 85-60-800</span><i class="ic_bigphone"></i>
      </div>
    </div>
    
    <div class="email-info c-btn">
      <div class="email ic-block">
        <i class="ic_bigemail"></i>
      </div>
      <div class="text">
        <span>email text@.ru</span><i class="ic_bigemail"></i>
      </div>
    </div> 
  </div>