<div class="materials">
  <h2>
    <span>виды</span>
    <span class="color-orange">материалов</span>
  </h2>
  <div class="materials-list">
    <!--foreach $arResult-->
    <div class="item">
      <b>МЕТАЛЛЫ</b> нержавеющая и черная сталь, различные сплавы металлов, включая аннодированные и окрашенные поверхности, драгоценные металлы.
    </div>
    <div class="item">
      <b>ДЕРЕВО</b> натуральное дерево. бамбук, фанера, ламинированные и шпонированные материалы, МДФ, ПСБ, ДВП, ДСП.
    </div>
    <div class="item">
      <b>ПЛАСТИК</b> акрил (оргстекло), полистирол, полиэфирное стекло, стиролакронитрил, зеркальные и фольгированные пластики, поликарбонат, слоистые пластики, полипропилен, фторопласт, облицовочные пластики, пенопласт и поролон, вспененные ПВХ пластики.
    </div>
    <div class="item">
      <b>СТЕКЛО И КЕРАМИКА</b> стекло, хрусталь, керамическая плитка.
    </div>
    <div class="item">
      <b> КОЖА И ТЕКСТИЛЬ</b> натуральная и искусственная кожа, различные виды ткани и текстильных материалов.
      <div class="item">
        <b>КАМЕНЬ</b> натуральный и искусственный камень.
      </div>
      <div class="item">
        <b>РЕЗИНА</b>различные каучуковые материалы, линолеум.
      </div>
      <b>БУМАГА</b> картон, пенокартон, бумага.
      <div class="item">
        <b> КОМПОЗИТНЫЕ МАТЕРИАЛЫ</b> поранит, гипсокартон, слюда и т.д.
      </div>
      <!--endforeach-->
    </div>
  </div>