<div class="take-catalog">
  <h2>
    Оставьте заявку и мы свяжемся с вами в течение часа
  </h2>
  <form action="">
    <div class="form-table">
      <div class="input-cell">
        <label class="ic_name" for="name"></label>
        <input type="text" placeholder="Ваше имя" name="name" id="name">
      </div>
      <div class="input-cell">
        <label class="ic_email" for="email"></label>
        <input type="text" placeholder="E-mail" name="email" id="email">
      </div>
      <div class="input-cell">
        <label class="ic_phone" for="phone"></label>
        <input type="text" placeholder="Телефон" name="phone" id="phone">
      </div>
      <div class="input-cell">
        <input type="submit" class="send-btn orange" value="Оставить заявку">
      </div>
    </div>
  </form>
</div>