<div class="product-wrapper">
 <div id="product-slider" data-slick='{"slidesToShow": 4,
  "slidesToScroll": 4, "centerMode": false}'>
    <!--foreach $arResult-->
    <div class="item">
      <div class="image">
        <a href="" title="CMA0604-B-A/1008-B-A/1309-B-A" style="background-image:url(./images/printer-1.png)">
        </a>
      </div>
      <div class="text">
        <a href="" title="CMA0604-B-A/1008-B-A/1309-B-A">CMA0604-B-A/1008-B-A/1309-B-A</a>
        <div class="text-desc">
          Обновленная лазерная машина для резки металла и неметалла.
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a href="" title=""  style="background-image:url(./images/printer-2.png)">
        </a>
      </div>
      <div class="text">
        <a href="" title="cMA960-T/1080-T/1390-T/1313-T">cMA960-T/1080-T/1390-T/1313-T</a>
        <div class="text-desc">
          Лазерная машина для резки со сдвоенной головкой.
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a href="" title="" style="background-image:url(./images/printer-2.png)">
        </a>
      </div>
      <div class="text">
        <a href="" title="CMA0604-B-A/1008-B-A/1309-B-A">CMA0604-B-A/1008-B-A/1309-B-A</a>
        <div class="text-desc">
          Обновленная лазерная машина для резки металла и неметалла.
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a href="" title="" style="background-image:url(./images/printer-3.png)">
        </a>
      </div>
      <div class="text">
        <a href="" title="CMA0604-T-A/1008-T-A/1309-T-A">CMA0604-T-A/1008-T-A/1309-T-A</a>
        <div class="text-desc">
          Обновленная лазерная машина для резки со сдвоенной головкой.
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a href="" title="" style="background-image:url(./images/printer-4.png)">
        </a>
      </div>
      <div class="text">
        <a href="" title="CMA0604-T-A/1008-T-A/1309-T-A">CMA0604-T-A/1008-T-A/1309-T-A</a>
        <div class="text-desc">
          Обновленная лазерная машина для резки со сдвоенной головкой.
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <a href="" title="" style="background-image:url(./images/printer-1.png)">
        </a>
      </div>
      <div class="text">
        <a href="" title="CMA0604-T-A/1008-T-A/1309-T-A">CMA0604-T-A/1008-T-A/1309-T-A</a>
        <div class="text-desc">
          Обновленная лазерная машина для резки со сдвоенной головкой.
        </div>
      </div>
    </div>
    <!--endforeach-->
  </div>
</div>