<div class="reviews">
  <div class="list">
    <!--foreach $arResult-->
    {% for item in reviewsItems%}
    <div class="item">
      <div class="name">
        <span>
          {{item.name}}
        </span>
        <span class="color-orange">
          {{item.city}}
        </span>
      </div>
      <div class="content">
        <div class="text">
          {{item.text}}
        </div>
        <div class="image">
          <img src="{{item.img}}" alt="{{item.name}}">
          <div class="pic-name">
            Модель {{item.picName}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!--endforeach-->
  </div>
  <div class="row text-right">
    <input type="submit" value="Оставить отзыв" class="send-btn grey">
  </div>
</div>
