<div class="service-descr-list">
    <!--foreach $arResult-->
    <div class="section-item">
      <h2><span>Сферы</span><span class="color-orange">применения</span></h2>
      
      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/teh-detail.png" alt=""></div>
        <div class="item-cell table-cell">технические детали</div>
      </div>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/reklama.png" alt=""></div>
        <div class="item-cell table-cell">реклами</div>
      </div>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/skin.png" alt=""></div>
        <div class="item-cell table-cell">изделия из кожи и текстиля</div>
      </div>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/poligrafiy.png" alt=""></div>
        <div class="item-cell table-cell">полиграфия</div>
      </div>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/raskroky.png" alt=""></div>
        <div class="item-cell table-cell">раскрой</div>
      </div>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/box.png" alt=""></div>
        <div class="item-cell table-cell">упаковка</div>
      </div>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/makets.png" alt=""></div>
        <div class="item-cell table-cell">макеты</div>
      </div>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/prints.png" alt=""></div>
        <div class="item-cell table-cell">печати и штампы</div>
      </div>
      
    </div>

    <div class="section-item">
      <h2><span>Способы</span><span class="color-orange">обработки</span></h2>

      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/cut.png" alt=""></div>
        <div class="item-cell table-cell">резка</div>
      </div>
      
      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/gravirovka.png" alt=""></div>
        <div class="item-cell table-cell">гравировка</div>
      </div>
      
      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/marker.png" alt=""></div>
        <div class="item-cell table-cell">маркировка</div>
      </div>
      
      <div class="item-row table">
        <div class="item-cell table-cell"><img src="./images/perf.png" alt=""></div>
        <div class="item-cell table-cell">перфорация</div>
      </div>
      
    </div>
    <!--endforeach-->
  </div>