{% extends './../layouts/master.html' %} {% block content %}
<div class="about-text">
  <h1>
   <span class="about-head">
     <span>кубань Радикал</span>
     <span class=color-orange>& Han's Yueming Laser Tech</span>
   </span>
    <p class="color-grey-light text-block-1">
    Компания Кубань Радикал - официальный международный агент завода Han's Yueming Laser Tech, который является бесспорным лидером по разработке и производству лазерного оборудования для резки, гравировки и маркировки, продавая более 10 000 машин в год по всему миру.
  </p>
  <p class="color-grey text-block-2">
    Мы предлагаем Вам более 100 моделей высококачественных лазерных станков для обработки почти любых материалов. <br>
    Лазерная обработка - наиболее эффективная и высокоточная технология раскройки и гравировки как листового материала, так и изогнутых поверхностей. С ее помощью можно изготавливать технические и декоративные детали любой конфигурации, не обращая внимания на геометрические ограничения. Лазерная обработка позволяет существенно сократить трудозатраты при более высоком качестве продукта и меньших издержках.
  </p>
  </h1>
</div>
<section class="block-1">
  <!--start component product slider-->
  {% include './../components/product-slider.html' %}
  <!--end component product slider-->
</section>

<section class="block-2">
  <!--start component serivce description list-->
  {% include './../components/service-descr-list.html' %}
  <!--end component service description list-->

  <!--start component serivce description list-->
  {% include './../components/materials.html' %}
  <!--end component service description list-->
</section>

<section class="block-3">
  <!--start component our advantages--->
  {% include './../components/advantages.html' %}
  <!--end component our advanages-->
</section>

<!--start companent take catalog form-->
{% include './../components/take-catalog.html' %}
<!--end component take catalog form-->
{% endblock %}