<div class="wrapper">
  <div class="container">
    <div class="top-row">
      <div class="soc-cell">
        <!--start include social icons-->
        <ul class="soc-icon-list">
          <li>
            <a class="soc-icon" href="#" title="#">
              <i class="ic_fb"></i>
            </a>
          </li>
          <li>
            <a class="soc-icon" href="#" title="#">
              <i class="ic_vk"></i>
            </a>
          </li>
          <li>
            <a class="soc-icon" href="#" title="#">
              <i class="ic_inst"></i>
            </a>
          </li>
        </ul>
        <!--end include social icons-->
      </div>
      <div class="contact">
        <!--start include contact info-->
        <ul>
          <li>
            <span>Звоните</span>
          </li>
          <li>
            Тел.: 8 (861) 217-44-05
          </li>
          <li>
            Моб.: 8 (952) 85-60-800
          </li>
        </ul>
        <ul>
          <li>
            <span> ПИШИТЕ</span>
          </li>
          <li>
            <a href="mailto:laserkr@yandex.ru">laserkr@yandex.ru</a>
          </li>
        </ul>
        <ul>
          <li>
            <span>ПРИЕЗЖАЙТЕ</span>
          </li>
          <li>
            РФ, 350007, г. Краснодар, ул. Захарова, 1, завод имени Седина Станкостроительный завод имени Седина
          </li>
        </ul>
        <!--end include contact info-->
      </div>
    </div>
    <div class="bottom-row">
      <div class="item">
       <a href="#"><img src="./images/link-1.png" alt="#"></a>
      </div>
      <div class="item">
        <a href="#"><img src="./images/link-2.png" alt="#"></a>
      </div>
      <div class="item">
        <a href="#"><img src="./images/link-3.png" alt="#"></a>
      </div>
    </div>
    <div class="row cop">
      ООО “Кубань Радикал” 1999-2016 гг.
      <br> Все права защищены.
    </div>
  </div>
</div>