<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
  <title>{{ title }}</title>
  <!-- dev:css -->
  <link rel="stylesheet" href="./css/screen.css">
  <!-- endinject -->
</head>

<body>
  <header class="{% if fullbg %}full-bg{% endif %}">
	{% include '../layouts/header.html' %}
  </header>
  <main> 
    {% block content %}{% endblock %}
    <!--push footer to down if don't have content -->
    <div class="push-footer"></div>
  </main>
  <footer>
    {% include '../layouts/footer.html' %}
  </footer>
  <!--jquery:js-->
  <script src="./libs/jquery/js/jquery.min.js"></script>
  <!--endinject-->
  <!--slick:js-->
  <script src="./libs/slick/js/slick.min.js"></script>
  <!--endinject-->
  <!--dev:js-->
  <script src="./js/main.js"></script>
  <!--endinject-->
</body>


</html>