$ic-fb-name: 'ic_fb';
$ic-fb-x: 0px;
$ic-fb-y: 37px;
$ic-fb-offset-x: 0px;
$ic-fb-offset-y: -37px;
$ic-fb-width: 17px;
$ic-fb-height: 33px;
$ic-fb-total-width: 73px;
$ic-fb-total-height: 70px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (0px, 37px, 0px, -37px, 17px, 33px, 73px, 70px, '../images/sprite.png', 'ic_fb', );
$ic-inst-name: 'ic_inst';
$ic-inst-x: 0px;
$ic-inst-y: 0px;
$ic-inst-offset-x: 0px;
$ic-inst-offset-y: 0px;
$ic-inst-width: 36px;
$ic-inst-height: 37px;
$ic-inst-total-width: 73px;
$ic-inst-total-height: 70px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (0px, 0px, 0px, 0px, 36px, 37px, 73px, 70px, '../images/sprite.png', 'ic_inst', );
$ic-search-name: 'ic_search';
$ic-search-x: 17px;
$ic-search-y: 37px;
$ic-search-offset-x: -17px;
$ic-search-offset-y: -37px;
$ic-search-width: 21px;
$ic-search-height: 17px;
$ic-search-total-width: 73px;
$ic-search-total-height: 70px;
$ic-search-image: '../images/sprite.png';
$ic-search: (17px, 37px, -17px, -37px, 21px, 17px, 73px, 70px, '../images/sprite.png', 'ic_search', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 36px;
$ic-vk-y: 0px;
$ic-vk-offset-x: -36px;
$ic-vk-offset-y: 0px;
$ic-vk-width: 37px;
$ic-vk-height: 22px;
$ic-vk-total-width: 73px;
$ic-vk-total-height: 70px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (36px, 0px, -36px, 0px, 37px, 22px, 73px, 70px, '../images/sprite.png', 'ic_vk', );
$spritesheet-width: 73px;
$spritesheet-height: 70px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-fb, $ic-inst, $ic-search, $ic-vk, );
$spritesheet: (73px, 70px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
