$bigarrow-name: 'bigarrow';
$bigarrow-x: 0px;
$bigarrow-y: 0px;
$bigarrow-offset-x: 0px;
$bigarrow-offset-y: 0px;
$bigarrow-width: 57px;
$bigarrow-height: 145px;
$bigarrow-total-width: 190px;
$bigarrow-total-height: 145px;
$bigarrow-image: '../images/sprite.png';
$bigarrow: (0px, 0px, 0px, 0px, 57px, 145px, 190px, 145px, '../images/sprite.png', 'bigarrow', );
$ic-bigemail-name: 'ic_bigemail';
$ic-bigemail-x: 117px;
$ic-bigemail-y: 0px;
$ic-bigemail-offset-x: -117px;
$ic-bigemail-offset-y: 0px;
$ic-bigemail-width: 73px;
$ic-bigemail-height: 49px;
$ic-bigemail-total-width: 190px;
$ic-bigemail-total-height: 145px;
$ic-bigemail-image: '../images/sprite.png';
$ic-bigemail: (117px, 0px, -117px, 0px, 73px, 49px, 190px, 145px, '../images/sprite.png', 'ic_bigemail', );
$ic-bigphone-name: 'ic_bigphone';
$ic-bigphone-x: 57px;
$ic-bigphone-y: 0px;
$ic-bigphone-offset-x: -57px;
$ic-bigphone-offset-y: 0px;
$ic-bigphone-width: 60px;
$ic-bigphone-height: 61px;
$ic-bigphone-total-width: 190px;
$ic-bigphone-total-height: 145px;
$ic-bigphone-image: '../images/sprite.png';
$ic-bigphone: (57px, 0px, -57px, 0px, 60px, 61px, 190px, 145px, '../images/sprite.png', 'ic_bigphone', );
$ic-email-name: 'ic_email';
$ic-email-x: 138px;
$ic-email-y: 113px;
$ic-email-offset-x: -138px;
$ic-email-offset-y: -113px;
$ic-email-width: 21px;
$ic-email-height: 18px;
$ic-email-total-width: 190px;
$ic-email-total-height: 145px;
$ic-email-image: '../images/sprite.png';
$ic-email: (138px, 113px, -138px, -113px, 21px, 18px, 190px, 145px, '../images/sprite.png', 'ic_email', );
$ic-fb-name: 'ic_fb';
$ic-fb-x: 57px;
$ic-fb-y: 61px;
$ic-fb-offset-x: -57px;
$ic-fb-offset-y: -61px;
$ic-fb-width: 17px;
$ic-fb-height: 33px;
$ic-fb-total-width: 190px;
$ic-fb-total-height: 145px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (57px, 61px, -57px, -61px, 17px, 33px, 190px, 145px, '../images/sprite.png', 'ic_fb', );
$ic-inst-name: 'ic_inst';
$ic-inst-x: 117px;
$ic-inst-y: 49px;
$ic-inst-offset-x: -117px;
$ic-inst-offset-y: -49px;
$ic-inst-width: 36px;
$ic-inst-height: 37px;
$ic-inst-total-width: 190px;
$ic-inst-total-height: 145px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (117px, 49px, -117px, -49px, 36px, 37px, 190px, 145px, '../images/sprite.png', 'ic_inst', );
$ic-name-name: 'ic_name';
$ic-name-x: 74px;
$ic-name-y: 61px;
$ic-name-offset-x: -74px;
$ic-name-offset-y: -61px;
$ic-name-width: 18px;
$ic-name-height: 17px;
$ic-name-total-width: 190px;
$ic-name-total-height: 145px;
$ic-name-image: '../images/sprite.png';
$ic-name: (74px, 61px, -74px, -61px, 18px, 17px, 190px, 145px, '../images/sprite.png', 'ic_name', );
$ic-phone-name: 'ic_phone';
$ic-phone-x: 117px;
$ic-phone-y: 113px;
$ic-phone-offset-x: -117px;
$ic-phone-offset-y: -113px;
$ic-phone-width: 21px;
$ic-phone-height: 21px;
$ic-phone-total-width: 190px;
$ic-phone-total-height: 145px;
$ic-phone-image: '../images/sprite.png';
$ic-phone: (117px, 113px, -117px, -113px, 21px, 21px, 190px, 145px, '../images/sprite.png', 'ic_phone', );
$ic-search-name: 'ic_search';
$ic-search-x: 159px;
$ic-search-y: 113px;
$ic-search-offset-x: -159px;
$ic-search-offset-y: -113px;
$ic-search-width: 21px;
$ic-search-height: 17px;
$ic-search-total-width: 190px;
$ic-search-total-height: 145px;
$ic-search-image: '../images/sprite.png';
$ic-search: (159px, 113px, -159px, -113px, 21px, 17px, 190px, 145px, '../images/sprite.png', 'ic_search', );
$ic-v-light-name: 'ic_v-light';
$ic-v-light-x: 117px;
$ic-v-light-y: 86px;
$ic-v-light-offset-x: -117px;
$ic-v-light-offset-y: -86px;
$ic-v-light-width: 28px;
$ic-v-light-height: 27px;
$ic-v-light-total-width: 190px;
$ic-v-light-total-height: 145px;
$ic-v-light-image: '../images/sprite.png';
$ic-v-light: (117px, 86px, -117px, -86px, 28px, 27px, 190px, 145px, '../images/sprite.png', 'ic_v-light', );
$ic-v-name: 'ic_v';
$ic-v-x: 145px;
$ic-v-y: 86px;
$ic-v-offset-x: -145px;
$ic-v-offset-y: -86px;
$ic-v-width: 28px;
$ic-v-height: 26px;
$ic-v-total-width: 190px;
$ic-v-total-height: 145px;
$ic-v-image: '../images/sprite.png';
$ic-v: (145px, 86px, -145px, -86px, 28px, 26px, 190px, 145px, '../images/sprite.png', 'ic_v', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 153px;
$ic-vk-y: 49px;
$ic-vk-offset-x: -153px;
$ic-vk-offset-y: -49px;
$ic-vk-width: 37px;
$ic-vk-height: 22px;
$ic-vk-total-width: 190px;
$ic-vk-total-height: 145px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (153px, 49px, -153px, -49px, 37px, 22px, 190px, 145px, '../images/sprite.png', 'ic_vk', );
$spritesheet-width: 190px;
$spritesheet-height: 145px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($bigarrow, $ic-bigemail, $ic-bigphone, $ic-email, $ic-fb, $ic-inst, $ic-name, $ic-phone, $ic-search, $ic-v-light, $ic-v, $ic-vk, );
$spritesheet: (190px, 145px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
