$ic-bigphone-name: 'ic-bigphone';
$ic-bigphone-x: 0px;
$ic-bigphone-y: 0px;
$ic-bigphone-offset-x: 0px;
$ic-bigphone-offset-y: 0px;
$ic-bigphone-width: 60px;
$ic-bigphone-height: 61px;
$ic-bigphone-total-width: 150px;
$ic-bigphone-total-height: 124px;
$ic-bigphone-image: '../images/sprite.png';
$ic-bigphone: (0px, 0px, 0px, 0px, 60px, 61px, 150px, 124px, '../images/sprite.png', 'ic-bigphone', );
$ic-bigemail-name: 'ic_bigemail';
$ic-bigemail-x: 60px;
$ic-bigemail-y: 0px;
$ic-bigemail-offset-x: -60px;
$ic-bigemail-offset-y: 0px;
$ic-bigemail-width: 73px;
$ic-bigemail-height: 49px;
$ic-bigemail-total-width: 150px;
$ic-bigemail-total-height: 124px;
$ic-bigemail-image: '../images/sprite.png';
$ic-bigemail: (60px, 0px, -60px, 0px, 73px, 49px, 150px, 124px, '../images/sprite.png', 'ic_bigemail', );
$ic-email-name: 'ic_email';
$ic-email-x: 94px;
$ic-email-y: 61px;
$ic-email-offset-x: -94px;
$ic-email-offset-y: -61px;
$ic-email-width: 21px;
$ic-email-height: 18px;
$ic-email-total-width: 150px;
$ic-email-total-height: 124px;
$ic-email-image: '../images/sprite.png';
$ic-email: (94px, 61px, -94px, -61px, 21px, 18px, 150px, 124px, '../images/sprite.png', 'ic_email', );
$ic-fb-name: 'ic_fb';
$ic-fb-x: 133px;
$ic-fb-y: 0px;
$ic-fb-offset-x: -133px;
$ic-fb-offset-y: 0px;
$ic-fb-width: 17px;
$ic-fb-height: 33px;
$ic-fb-total-width: 150px;
$ic-fb-total-height: 124px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (133px, 0px, -133px, 0px, 17px, 33px, 150px, 124px, '../images/sprite.png', 'ic_fb', );
$ic-inst-name: 'ic_inst';
$ic-inst-x: 0px;
$ic-inst-y: 61px;
$ic-inst-offset-x: 0px;
$ic-inst-offset-y: -61px;
$ic-inst-width: 36px;
$ic-inst-height: 37px;
$ic-inst-total-width: 150px;
$ic-inst-total-height: 124px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (0px, 61px, 0px, -61px, 36px, 37px, 150px, 124px, '../images/sprite.png', 'ic_inst', );
$ic-name-name: 'ic_name';
$ic-name-x: 115px;
$ic-name-y: 61px;
$ic-name-offset-x: -115px;
$ic-name-offset-y: -61px;
$ic-name-width: 18px;
$ic-name-height: 17px;
$ic-name-total-width: 150px;
$ic-name-total-height: 124px;
$ic-name-image: '../images/sprite.png';
$ic-name: (115px, 61px, -115px, -61px, 18px, 17px, 150px, 124px, '../images/sprite.png', 'ic_name', );
$ic-phone-name: 'ic_phone';
$ic-phone-x: 73px;
$ic-phone-y: 61px;
$ic-phone-offset-x: -73px;
$ic-phone-offset-y: -61px;
$ic-phone-width: 21px;
$ic-phone-height: 21px;
$ic-phone-total-width: 150px;
$ic-phone-total-height: 124px;
$ic-phone-image: '../images/sprite.png';
$ic-phone: (73px, 61px, -73px, -61px, 21px, 21px, 150px, 124px, '../images/sprite.png', 'ic_phone', );
$ic-search-name: 'ic_search';
$ic-search-x: 28px;
$ic-search-y: 98px;
$ic-search-offset-x: -28px;
$ic-search-offset-y: -98px;
$ic-search-width: 21px;
$ic-search-height: 17px;
$ic-search-total-width: 150px;
$ic-search-total-height: 124px;
$ic-search-image: '../images/sprite.png';
$ic-search: (28px, 98px, -28px, -98px, 21px, 17px, 150px, 124px, '../images/sprite.png', 'ic_search', );
$ic-v-name: 'ic_v';
$ic-v-x: 0px;
$ic-v-y: 98px;
$ic-v-offset-x: 0px;
$ic-v-offset-y: -98px;
$ic-v-width: 28px;
$ic-v-height: 26px;
$ic-v-total-width: 150px;
$ic-v-total-height: 124px;
$ic-v-image: '../images/sprite.png';
$ic-v: (0px, 98px, 0px, -98px, 28px, 26px, 150px, 124px, '../images/sprite.png', 'ic_v', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 36px;
$ic-vk-y: 61px;
$ic-vk-offset-x: -36px;
$ic-vk-offset-y: -61px;
$ic-vk-width: 37px;
$ic-vk-height: 22px;
$ic-vk-total-width: 150px;
$ic-vk-total-height: 124px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (36px, 61px, -36px, -61px, 37px, 22px, 150px, 124px, '../images/sprite.png', 'ic_vk', );
$spritesheet-width: 150px;
$spritesheet-height: 124px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-bigphone, $ic-bigemail, $ic-email, $ic-fb, $ic-inst, $ic-name, $ic-phone, $ic-search, $ic-v, $ic-vk, );
$spritesheet: (150px, 124px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
