$image-path: '../images/';
$font-path: '/fonts/';

$wrapper-max-width: 1350px;
$wrapper-min-width: 1000px;

$container-margin: 10px;

//fonts
$helvetica: 'HelveticaNeueCyr';


$base-font-size: 16px;
$base-font-family: $helvetica;

//colors
$color-link-hover: #e4593a;
$color-grey: #363636;
$color-grey-light: #737373;
$color-dark: #272630;
$color-orange: #f26c4f;