$image-path: '../images/';
$font-path: '/fonts/';

$wrapper-max-width: 1350px;
$wrapper-min-width: 1000px;

$container-margin: 10px;

//fonts
$helvetica-medium: 'HelveticaNeueCyr-Medium';
$helvetica-roman: 'HelveticaNeueCyr-Roman';
$helvetica-bold: 'HelveticaNeueCyr-Bold';
$helvetica-italic: 'HelveticaNeueCyr-Italic';

$base-font-size: 14px;
$base-font-family: $helvetica-medium;

//colors
$color-link-hover: #e4593a;