.buy {
  text-align: center;
  border-bottom: 2px solid #ececec;
  padding-bottom: 10px;
  .list {
    display: inline-block;
    width: 30%;
    .item {
      position: relative;
      padding-bottom: 15px;
      display: table;
      cursor: pointer;
      width: 400px;
      &:before {
        display: block;
        content: "";
        position: absolute;
        @include sprite($bigarrow);
        left: -80px;
        top: 50px;
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
      &:hover {
        .image {
          background-color: $color-orange;
        }
        .name {
          color: $color-orange;
        }
        .tip-text{
          display: block;
        }
      }
      .name {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        line-height: 1.5em;
        padding-left: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
      }
      .image {
        display: table-cell;
        vertical-align: middle;
        width: 120px;
        height: 120px;
        text-align: center;
        background-color: #343434;
        border-radius: 100%;
      }
      .tip-text {
        position: absolute;
        background-color: #e2e2e2;
        padding: 20px;
        font-size: 1em;
        font-style: italic;
        line-height: 1.4em;
        width: 240px;
        border-radius: 5px;
        right: -300px;
        top: 15px;
        display: none;
        &:after {
          top: 39%;
          left: -9px;
          display: block;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 10px 0;
          border-color: transparent #e2e2e2 transparent transparent;
        }
      }
    }
  }
}